/* Conteneur responsive vertical */
.responsive-carousel-wrapper {
  min-height: 65vh;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .responsive-carousel-wrapper {
    min-height: 1vh;
    padding-top: 20px;
  }
}

/* Amélioration de la visibilité des indicateurs */
.carousel-indicators li {
  background-color: rgba(255, 7, 7, 0.7); /* indicateurs visibles */
  border: 1px solid #000;
}

.carousel-indicators .active {
  background-color: #e41201; /* couleur active (rouge vif par ex.) */
}


/* Responsiveness */
.responsive-carousel-wrapper {
  min-height: 80vh;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .responsive-carousel-wrapper {
    min-height: 60vh;
    padding-top: 20px;
  }
}

/* Indicateurs rouges visibles */
.carousel-indicators li {
  background-color: rgba(255, 0, 0, 0.6);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: #e41201;
}

.rotate-icon {
  transition: transform 0.3s ease;
}

button.collapsed .rotate-icon {
  transform: rotate(0deg);
}

button:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}

@media (max-width: 576px) {
  #prefooter h5 {
    font-size: 1.1rem;
  }
  #prefooter p, #prefooter li {
    font-size: 0.9rem;
  }
}


/* .carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 70% 70%;
  filter: invert(1); 
} */
